/* .paper {
  margin-top: spacing(8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  margin: spacing(1);
  background-color: yellow;
}

.form {
  width: 100%;
  margin-top: spacing(3);
}

.submit {
  margin: spacing(3, 0, 2);
}

.iconRoot {
  text-align: center;
}

.imageIcon {
  height: 100%;
}
*/

.body {
  background-image: linear-gradient(118.4deg, #9ff5ec, #e5e5be); 
  z-index: 1;
}
